<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Vue.js Start</title>
  <style>
    #app {
      font-family: 'Avenir', Helvetica, Arial, sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      color: #2c3e50;
      margin-top: 60px;
    }
  </style>
</head>

<body>
  <div id="app">
    <h2>F1 drivers</h2>
    <ul>
        <li v-for="driver in drivers">{{`${driver.firstname} ${driver.lastname}`}}</li>
    </ul>

    <!-- Input added mistakenly earlier :) -->
    <input type="text" v-model="newDriverFirstname" />
    <input type="text" v-model="newDriverLastname" />
    <input type="button" value="Add" v-on:click="addDriver" />
    <div v-if="unableToAdd">
        Fill both first name and last name input.
    </div>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
  <script>
    new Vue({
        el: '#app',
        data: {
            drivers: [
                {
                    firstname: "Max",
                    lastname: "Verstappen"
                }
            ],
            newDriverFirstname: '',
            newDriverLastname: '',
            unableToAdd: false
        },
        methods: {
            addDriver() {
                this.clearMessage();

                if (!!this.newDriverFirstname && !!this.newDriverLastname) {
                    this.drivers.push({
                        firstname: this.newDriverFirstname,
                        lastname: this.newDriverLastname
                    });
                    this.newDriverFirstname = '';
                    this.newDriverLastname = '';
                } else {
                    this.unableToAdd = true;
                }
            },
            clearMessage() {
                this.unableToAdd = false;
            }
        }
    });
  </script>
</body>

</html>